

{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<form action="/results">
    This is {{store}}
    <div class="center" action>
    <h1 class="center">Store</h1>
    <h1 >Enter the number of cashiers/stations!</h1>
    <input type="number" min="0" max="50" name="stations">
    <input type="submit" value="SUBMIT">
        
    </div>
    </form>
     {{store}} has {{num|apnumber}} store{{num|pluralize}}
{% endblock content %}